/* COLORS */
$black: #161722;
$primary: #ffd2a4;
$white: #fff;
$light-orange: #fff5eb;
$grey: #f5f2f0;
$gradient: #A54E2B;

/* FONTS */
$roboto: "Roboto", "Arial", sans-serif;
$roboto-condensed: "Roboto Condensed", "Arial", sans-serif;